/* body {
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100vh;            
  margin: 0;            
} 
button{
    color: rgb(255, 35, 35);
    background-color: #b5b5b5;
    border: 2px black solid;
    gap: 10px;
    height: 60px;
    width: 60px;
}
  */