body {
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100vh;            
  margin: 0;   
  background: #f1ffc9;         
} 
button{
    color: rgb(255, 35, 35);
    background-color: #b5b5b5;
    border: 2px black solid;
    gap: 10px;
    height: 70px;
    width: 70px;
    
}
 .startButton{
  width: 180px;
  background: #ff8d8d;
  color: black;
  border: 0px;
  margin: 10px;
  margin-left: 0px;
  height: 50px;
  border-radius: 20px;
   
 }